<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
	  <!--Conexao coom o banco-->
      <add name="conexao" connectionString="Server=LAPTOP-21MIOTQ3\SQLEXPRESS;Database=EasyRent;Trusted_Connection=True;"/>
    </connectionStrings>  
  <!--SAN0522361W10-1\BD_BLUE-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>